**/__pycache__
./calc_asynchrony/__pycache__/
*.tif
*.csv
*.xlsx
*.png
*.pdf
*.pyc
*.zip
./asynch_analysis/*.tif
./asynch_analysis/__pycache__/
./asynch_analysis/__pycache__/*.pyc
./asynch_analysis/*.csv
./asynch_analysis/hotspots/
./asynch_analysis/data/
./asynch_analysis/data/*
./asynch_analysis/data/*.csv
./asynch_analysis/phen_dist/results/
./asynch_analysis/phen_dist/results/**
./asynch_analysis/methods_dev_imgs/
./asynch_analysis/methods_dev_imgs/**
./asynch/analysis/data/gen_dist/**
./asynch/analysis/data/gen_dist/
./asynch/analysis/data/kling_gendata/**
./asynch/analysis/data/kling_gendata/
./validation/flux_tower_seasonality_validation/AU/*
./validation/flux_tower_seasonality_validation/BR/*
./validation/flux_tower_seasonality_validation/US/*
./validation/flux_tower_seasonality_validation/MY_ID/*
./validation/flux_tower_seasonality_validation/*.pdf
./validation/flux_tower_seasonality_validation/*.png
./validation/flux_tower_seasonality_validation/*.tif
