**/__pycache__
calc_asynchrony/__pycache__/
*.tif
*.csv
*.xlsx
*.html
*.png
*.gif
*.mp4
*.pdf
*.pyc
*.zip
*.swp
analysis/*.tif
analysis/__pycache__/
analysis/__pycache__/*.pyc
analysis/*.csv
analysis/hotspots/
analysis/data/
analysis/other_data/
analysis/data/*
analysis/data/*.csv
analysis/phen_dist/results/
analysis/phen_dist/results/**
analysis/methods_dev_imgs/
analysis/methods_dev_imgs/**
analysis/data/gen_dist/**
analysis/data/gen_dist/
analysis/data/kling_gendata/**
analysis/data/kling_gendata/
validation/flux_tower_seasonality_validation/AU/*
validation/flux_tower_seasonality_validation/BR/*
validation/flux_tower_seasonality_validation/US/*
validation/flux_tower_seasonality_validation/MY_ID/*
validation/flux_tower_seasonality_validation/*.pdf
validation/flux_tower_seasonality_validation/*.png
validation/flux_tower_seasonality_validation/*.tif
