**/__pycache__
./calc_asynchrony/__pycache__/
*.tif
*.csv
*.xlsx
*.png
*.pyc
./asynch_analysis/*.tif
./asynch_analysis/__pycache__/
./asynch_analysis/__pycache__/*.pyc
./asynch_analysis/*.csv
./asynch_analysis/hotspots/
./asynch_analysis/data/
./asynch_analysis/data/*
./asynch_analysis/data/*.csv
./asynch_analysis/phen_dist/results/
./asynch_analysis/phen_dist/results/**
./asynch_analysis/methods_dev_imgs/
./asynch_analysis/methods_dev_imgs/**
./asynch/analysis/data/gen_dist/**
./asynch/analysis/data/gen_dist/
./asynch/analysis/data/kling_gendata/**
./asynch/analysis/data/kling_gendata/
